.centerHorizontally{
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal */
    align-items: center;
    text-align: center;  
}
.centerHorizontally2{
  margin: auto;
  width: 800px;
}

.displayGood{
    display: block;
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  
.column{
    float: left;
    width: 25%;
    height: 400px;
    border: 1px solid red;
    
}

.column2{
    float: left;
    width: 15%;
    /* height: 400px; */
    border: 1px solid red;
    
}

/* ================= */

.marginUpAndDown{
    margin-top: 1em;
    margin-bottom: 1em;
}
/* ============================= */
.none{
    display: none;
}

/* ================= */

.grid1{
    display: grid;
    justify-items: center;
    align-items: center;
}

.marginMe{
  margin-top:1.8em;
}   

/* ============================= */
.width500px{
    width: 500px;
}
.widthFull{
    width: 100%;
}
.width70P{
    width: 70%;
}

/* ============================= */
.headerFont{
    font-size: 3em;
}

.marginAllAround{
    margin: 1em 1em 1em 1em;
}
.paddingAllAround{
    padding: .8em .8em .8em .8em ;
}
.paddingUp{
    padding-top: 1.2em;
}
.paddingDown{
    padding-bottom: 1.8em;
}
.paddingRight{
    padding-right: 1.8em;
}
.paddingLeftSmall{
    padding-left:1.8em;
}

.left{
    position: relative;
    left: .8em;
}
.greyBorder{
    border: 2px solid grey;
}

/* ============================= */
.cardGrid {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 2em 2em; 
    grid-template-areas: 
      "title area1"
      "title area2"; 
}
.title { grid-area: title; }
.area1 { grid-area: area1; }
.area2 { grid-area: area2; }

/* ================= */
/* .comboGrid{
    
    display: grid; 
    grid-template-columns: 3fr 3fr 1.3fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    text-align: center;
    grid-template-areas: 
      "question answer delete"; 
  }
.question { grid-area: question; }
.answer { grid-area: answer; }
.delete { grid-area: delete; } */

.width20em{
    width: 20em;
}

.flexGridQA{
    display:flex;
    justify-content: space-evenly;
    /* column-gap: 1.3em; */
}

.gridMe{
    display: grid;
    grid-template-columns: 1fr .13fr;
}

.flexText{
    margin-left:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: .8em;
    /* align-content: center; */
    /* justify-content: center; */
}
/* ================= */

.rightMe{ 
    position: relative;
    right: 4em;
}

#add{
    font-size: 3em;
}


.gridDeleteButton{
    margin-top: 2.2em;
    display: grid;
    grid-template-columns: 10fr 1fr;

}